@media only screen and (min-width: 2000px) {
    .container {
        max-width: 90%;
    }
}

@media only screen and (max-height: 2160px) {
    html {
        font-size: 32px;
    }
}

@media only screen and (max-height: 1600px) {
    html {
        font-size: 28px;
    }
}

@media only screen and (max-height: 1440px) {
    html {
        font-size: 25px;
    }
}

@media only screen and (max-height: 1080px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-height: 950px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-height: 840px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-height: 750px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-height: 600px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (max-height: 550px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9px;
    }
}